.titleSet:hover {
    color: red;
    transition: 0.4s;
  }
  .zoom{
    transition: all 0.5s;
    cursor: pointer;
  }
  .zoom:hover {
    transform: scale(1.06);
    transition: 0.8s;
  }
  .hoverBlack{
    color: rgb(78, 76, 76);
  }
  .hoverBlack:hover {
    background-color: black;
    color: white;
  }
  .hoverText{
    color: rgb(113, 111, 111);
  }
  .underline {
text-decoration: none;
position: relative;
color: #333;
}

.underline::before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #4b475b;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.underline:hover::before {
visibility: visible;
transform: scaleX(1);
}
.underline:active{
color: rgb(26, 17, 200);
}
.hoverBlue{
font-size: 11px;
color: rgb(113, 111, 111);
}
.hoverBlue:hover{
color: blue;
}

/* animation not found */
.wrapper {
height: 100vh;
/*This part is important for centering*/
display: grid;
place-items: center;
}

.typing-demo {
width: 16ch;
animation: typing 2s steps(22), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid;
font-family: monospace;
font-size: 2em;
}

.go-top-btn {
position: fixed;
width: 50px;
height: 50px;
border: 2px solid gray;
background-color: gray ;
color: white ;
bottom: 20px;
right: 20px;
display: none;
justify-content: center;
align-items: center;
}

.showGeners {
display: none;
border-bottom: 3px solid blue;
}

@keyframes typing {
from {
width: 0
}
}

@keyframes blink {
50% {
border-color: transparent
}
}

    /* Default styles for larger screens (laptops and desktops) */
.mainImg {
width: 100%;
height: 320px;
}

@media (max-width: 1400px) {
.mainImg {
    /* Adjust the width and height for tablets */
    max-width: 100%;
    height: 250px;
}
}

/* Media query for tablets */
@media (max-width: 768px) {
.mainImg {
    /* Adjust the width and height for tablets */
    max-width: 100%;
    height: 200px;
}
}

/* Media query for mobile phones */
@media (max-width: 480px) {
.mainImg {
    /* Adjust the width and height for mobile phones */
    max-width: 100%;
    height: 150px;
}
}
